.expenses-filter {
    color: white;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  .filter-label {
    font-size: 2rem;
    margin: 2rem 0;
    width: 100%;
  }

  .expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem 0;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }

  @media screen and (max-width: 600px) {
    .expenses-filter__control {
      margin: .5rem;
      align-items: center;
    }
  }
